---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-black text-5xl font-bold flex flex-row gap-x-4 pb-4">Hey, soy Valentin 
				<div class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge></h1>
				</div>
			<h2 class="text-xl opacity-80">
			Soy un apasionado por la tecnologia y la programacion web. 
			Estoy en la busqueda constante de mi mejor version y siempre persigo la excelencia.
			</h2>
		</section>
	</main>
</Layout>

