---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import EmailIcon from '../components/icons/Email.astro';
import Education from '../components/Education.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Book from '../components/icons/Book.astro';
import Briefcase from '../components/icons/Briefcase.astro'
import Experience from '../components/Experience.astro';
import Code from '../components/icons/Code.astro';
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
---

<Layout title="Portfolio de Valentin Barberis | Desarrollador y Programador Web.">
	<main class="px-4">
		<SectionContainer id="top"class="py-44 pb-24">
			<img class="rounded-full size-20 mb-4"src="/img/imagenCV.jpg" alt="valentin photo">
			<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, soy Valentin 
				<a href="https://www.linkedin.com/in/valenbarberis/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-white text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
			Soy un apasionado por la tecnologia y la programacion web. 
			Estoy en la busqueda constante de mi mejor version y siempre persigo la excelencia.
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/valenbarberis/">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/vale1b">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill>
					<EmailIcon class="size-4 md:size-6" />
					barberisvalentin56@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="educacion">
			<h2 class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Book class="size-7"/>
				Educación
			</h2>
			<Education />
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2
			  class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
			>
			  <Code class="size-7" />
			  Proyectos
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="sobre-mi">
			<h2
			  class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
			>
			  <ProfileCheck class="size-7" />
			  Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>

