---
const personalImageAlt = "Enzo Soliz";
---

<article
  class="mb-4 text-base font-normal text-gray-200 text-pretty"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-200 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Me llamo Valentin, mis comienzos en el mundo de la programacion se dieron cuando corria el año 2021 cuando estaba en 5to año de la secundaria. Desde
        entonces, <strong>
        nunca he parado de aprender nuevas tecnologias, hice multiples cursos, inicie la carrera de Tecnicatura en Programacion en la UTN de mi ciudad, he estado formandome mediante los cursos de Juan Dalto, Miguel Angel Duran y Brais Moure hasta que di con Digital House.</strong
        > Actualmente, me encuentro explorando y trabajando en diversos proyectos personales,
        <strong>
        donde puedo aplicar y expandir mis habilidades en el desarrollo de
        software tanto en el Front como en Back.</strong
        >
    </p>

    <p>
        Estoy en la constante busqueda de mi mejor version, dando el maximo dia a dia para lograr mis objetivos, cada dia aprendo algo nuevo y siempre persiguiendo al excelencia que tanto anhelo conseguir. <strong>
        Me apasiona enfrentarme a problemas complejos y encontrar soluciones
        innovadoras </strong> que impulsen el progreso y la excelencia en cada proyecto en
        el que participo.
    </p>
  </div>

  <img
    width="200"
    height="310"
    src="/img/imagenCV.jpg"
    alt={personalImageAlt}
    class="border-1 object-cover w-64 h-[310px] p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
