---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'Febrero 2020 - Noviembre 2020',
        title: '"Vale lo limpio"',
        description: 'Responsable del armado de pedidos y entrega de los mismos. Emprendimiento familiar dedicado a la comercializacion de articulos de limpieza.'
    }
]
---
<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
        
</ol>